### CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

### C++ 
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### Misc
.DS_Store
*.sublime-project
*.sublime-workspace
#qt file
*.run 
ThirdParty 

data/meshesTetWild/brick_surf/
data/meshesTetWild/bunny/
data/meshesTetWild/rampant/
ThirdParty/Spectra
ThirdParty/fcl
ThirdParty/libccd
ThirdParty/libigl
src/EigenFit/include/EigenFit.h
src/EigenFit/include/EigenFitLinear.h
src/EigenFit/include/TimeStepperEigenFitLinearSMWIM.h
src/Examples/exampleEigenFitLinearRIM.cpp
data/meshesTetWild/Archive.zip
data/meshesTetWild/bimba/
data/meshesTetWild/manhead/
data/meshesTetWild/maxplank/
data/meshesTetWild/octopus/
data/meshesTetWild/warrior/
data/meshesTetWild/animal/
data/meshesTetWild/arma/
data/meshesTetWild/brick_surf/
data/meshesTetWild/bunny/
data/meshesTetWild/hand/
data/meshesTetWild/rampant/
data/meshesTetWild/skater/
